/* =========================
   POLAROID
========================= */

.polaroid {
  position: relative;
  width: 100%;

  background: var(--color-polaroid);
  color: inherit;
  box-shadow: var(--drop-shadow);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.polaroid:hover {
  transform: translateY(-6px) rotate(1deg);
}

/* =========================
   SIZES
========================= */

.polaroid--small {
  max-width: 13.75rem;
  padding: 0.875rem 0.75rem 2.25rem;
}

.polaroid--small .polaroidImageContainer {
  aspect-ratio: 3 / 4; 
}

.polaroid--medium {
  max-width: 21.875rem;
  padding: 1rem 1rem 3rem;
}

.polaroid--medium .polaroidImageContainer {
  aspect-ratio: 1 / 1; 
}

.polaroid--large {
  max-width: 31.25rem;
  padding: 1.25rem 1.25rem 4rem;
}

.polaroid--large .polaroidImageContainer {
  aspect-ratio: 1 / 1; 
}

/* =========================
   LINK & IMAGE
========================= */

.polaroidLink {
  display: block;
  color: inherit;
  text-decoration: none;
}

.polaroidImageContainer {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.polaroidImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* =========================
   CONTENT
========================= */

.polaroidContent {
  padding-top: 0.75rem;
}

.polaroidTitle {
  margin: 0 0 0.5rem;
}

.polaroidDescription {
  margin: 0;
}


/* =========================
   IMAGE NAVIGATION
========================= */

.polaroidNavigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;

  pointer-events: none;
  width: calc(100% + 6rem);
  margin-left: -3rem;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.polaroidArrow {
  pointer-events: auto;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  padding: 0;

  background: transparent;
  border: none;

  transition: transform 0.2s ease;
}

.polaroidArrow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.polaroidArrowPrevious img {
  transform: scaleX(-1);
}

.polaroidArrow:hover {
  transform: scale(1.15);
}


/* =========================
   POLAROID TILT
========================= */

.polaroid--tilt-0 {
  transform: rotate(0deg);
}

.polaroid--tilt-1 {
  transform: rotate(1.5deg);
}

.polaroid--tilt-2 {
  transform: rotate(-1.5deg);
}

.polaroid--tilt-1 .polaroidNavigation {
  transform: translateY(-50%) rotate(-1.5deg);
}

.polaroid--tilt-2 .polaroidNavigation {
  transform: translateY(-50%) rotate(1.5deg);
}