* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Textures */
  --texture-paper: url("https://transparenttextures.com/patterns/clean-gray-paper.png");
  
  /* Colors */
  --color-bg: #F6F3EE;
  --color-bg-primary: var(--color-bg) var(--texture-paper) repeat;
  --color-surface: #eae7e1;
  --color-bg-secondary: var(--color-surface) var(--texture-paper) repeat;
  --color-polaroid: #e7e7e7;
  --color-nav-transparent: #f6f3eeb2;
  --color-path: #e6ddd2;
  --color-text: #191919;
  --color-muted: #706b64;
  --color-border: #d9d2c8;
  --color-accent: #513238;
  --color-accent-hover: #5e3a41;
  --color-green: #60765a;
  --color-blue: #708c9a;
  --color-sand: #b9a383;
  --color-stone: #8c857b;

  /* Radius */
  --small-buttons: 5px;
  --big-buttons: 55px;

  /* Spacing */
  --padding-horizontal: 16px;
  --padding-vertical: 12px;
  --navbar-height: 4.6875rem;

  /* Font families */
  --font-heading: "Cinzel", serif;
  --font-body: "Inter", sans-serif;
  --font-accent: "Caveat", cursive;

  /* Effects */
  --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Body */
body {
  background-color: var(--color-bg);
  background-image: url("https://transparenttextures.com/patterns/clean-gray-paper.png");
  color: var(--color-text);
  font-family: var(--font-body);
  overflow-x: hidden;
}


/* Typografi styles */
.text-style-h1 {
  font-size: clamp(3rem, 7vw + 1rem, 6rem);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: 0.02em;
}

.text-style-h2 {
  font-size: clamp(2.25rem, 4vw + 1rem, 3.5rem);
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
}

.text-style-h3 {
  font-size: clamp(1.75rem, 2vw + 1rem, 2.25rem);
  font-family: var(--font-accent);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.text-style-h4 {
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  font-family: var(--font-accent);
  font-weight: 400;
}

.text-style-body-text {
  font-size: clamp(1rem, 0.5vw + 0.875rem, 1.125rem);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.5;
}

.text-style-small-text {
  font-size: 0.875rem;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.2;
}
